html {
    background-color: #D6E8DB;
    font-size: 25px
}

h1 {
    background-color: #FFF8DE;
    margin: 0px;
    border: 10px solid #99A98F;
    font-family: 'Bungee Shade', cursive;
}

h2 {
    font-family: 'Press Start 2P', cursive;
}

p {
    font-family: 'Lato', sans-serif;
}

img {
    height: 255px;
    border: 10px solid #FFF8DE;
}

.icons-settings {
    height: 30px;
    border: 1px solid #99A98F;
}

#copyright {
    text-align: right;
}
